// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.canvas_heart_bubble
{
  text-align: left;
  width: 340px;
  position: absolute;
  height: 200px;
  z-index: 998;
  & canvas {
    width: 340px !important;
    position: relative;
    margin-left: 70px;
    z-index: 997;
    top: -70px;

  }
}

.canvas_heart_bubble:before {
  content: '';
  color:white;
  width:5px;
  height:5px;
  display:block;
  position:absolute;
  top:24px;
  font-size:19px;
  font-family: "Courier";
  left:142px;
  font-weight:bold;
  opacity:0.2;
  transform: rotate(0deg);
  transform-origin: 6px 9px;
  animation: fan 2s linear infinite;
}

#container {
  position: absolute;
  width: calc(100vw - 640px);
  height: 250px;
  bottom:0;
  overflow: hidden;
}

#container p {
  margin: 5px;
}


div.ball {
  position: absolute;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #Eee;
  overflow: hidden;
  & img {
    width: 100%;
    height: auto;
  }
}
